<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <script src="https://kit.fontawesome.com/687ed3dc70.js" crossorigin="anonymous"></script>

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
    <nav class="navbar">
        <a href="{{ path('home') }}"><div class="titre">BideoGamu</div></a>

        <ul class="links">
            <div class="link"><li><a href="{{ path('videogames_index') }}">Games</a></li></div>
            <div class="link"><li><a href="{{ path('category') }}">Categories</a></li></div>
            {# <div class="link"><li><a href="{{ path('home') }}">Inscription</a></li></div> #}

        </ul>

    </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    <footer>
            <div class="link">
                <li>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('login') }}">Login</a>
                    {% endif %}
                </li>
            </div>

            <div class="copyright">
                <p>Made by Medwegia, done in pain and tears in 2 days.</p>
                <p>WCS 2021/2022</p>
            </div>
    </footer>
    {% endblock %}
    </body>
</html>
