{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}
<div class="gamesshow">
    <div class="name">
        {{ videogame.name }}
    </div>

    <div class="desc">
        {{ videogame.description }}
    </div>

    <div class="date">Release date:
        {{ videogame.releaseDate ? videogame.releaseDate|date('Y-m-d') : '' }}
    </div>

    <div class="long">
        How long to beat:
        {{ videogame.howLongToBeat }}
    </div>

    <div class="poster">
        <img src="{{ vich_uploader_asset(videogame, "imgFile") }}">
    </div>
</div>

<a class="redirection" href="{{ path('videogames_index') }}">back to list</a>

{% endblock %}
