{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}
<div class="videogames">
    {% for videogame in videogames %}
        <div class="encart">
            <div class="full">

                <img src="{{ vich_uploader_asset(videogame, "imgFile") }}">

                <p>{{ videogame.name }}</p>
            </div>

            <button><a href="{{ path('adminvideogames_edit', {'id': videogame.id}) }}">edit</a>

            {{ include('admin/videogames/_delete_form.html.twig') }}
        </div>
    {% endfor %}
</div>
    <a class="redirection" href="{{ path('admin') }}">back to admin home</a>

{% endblock %}
